<?xml version="1.0"?>
<launch>
    <node pkg="constrained_speed" type="constrained_speed" name="constrained_speed" output="screen">
        <rosparam command="load" file="$(find constrained_speed)/cfg/cs_method2.yaml"/>
        <rosparam command="load" file="$(find map_server)/config/common_config.yaml"/>
    </node>
</launch>
